<%= form_for(@resto) do |f| %>
  <% if @resto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resto.errors.count, "error") %> prohibited this resto from being saved:</h2>

      <ul>
      <% @resto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
