<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resto.name %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @resto.phone %>
</p>


<%= link_to 'Edit', edit_resto_path(@resto) %> |
<%= link_to 'Back', restos_path %>
